{{!-- <div class="item">
  <img src=""
</div> --}}

{{!-- We can do it with a partial depending on how the images are passed over
if it's in an array we can do it, if not I'm not sure  --}}

<div class="item">
  <img class="carouselImage" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{poster_path}}">
</div>