<div class="container">
  <div class="row">
    <div class="darkGreen z-depth-5 col xl9">
      <p> This is where we'll talk about what the application does.
        I don't want to go into too much detail at the moment, but we'll get there together, as a team! </p>
    </div>
  </div>

  <!-- need a popular movie carousel here -->
  <div class="row">
    <div class="darkGreen z-depth-5 col xl9">
      <p> This is where we'll browse movies! </p>
      <div class="owl-carousel owl-theme" id="popMovies">
        {{!-- {{#each movies}}
        {{> movies/indexMoviePartials}}
        {{/each}}
      </div> --}}
      </div>

    </div>

    <!-- need a popular tv carousel here -->
    <div class="row">
      <div class="darkGreen z-depth-5 col xl9">
        <p> This is where we'll browse tv shows! </p>
        <div class="owl-carousel owl-theme" id="popTv">

        </div>
      </div>
    </div>

  </div>