<div id="login-container">
    <h1>Log In</h1>
    <div>
        <div class="row">
            <form class="col s12">
                <div class="row" id="login-email">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row" id="login-pwd">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <a class="waves-effect waves-light btn" id="login-btn">Log In</a>
            </form>
        </div>            
    </div>
</div>