<div id="login-container">
    <h1>Log In</h1>
    <div>
        <div class="row">
            <form class="col m8 s12" id="loginForm">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="email" class="validate" id="login-email">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" class="validate" id="login-pwd">
                        <label for="password">Password</label>
                    </div>
                </div>
                <a class="waves-effect waves-light btn" id="login-btn">Log In</a>
            </form>
        </div>
    </div>
</div>