<div class="container">

  <div class="row">
    <div class="darkGreen z-depth-5 col s12">
      <h4> Welcome Back! </h4>
    </div>
  </div>

  <div class="row">

    <!-- left hand side -->
    <div class="col s4">

      <div class="darkGreen z-depth-5 row">
        <h5>{{username}}</h5>
      </div>

      <div class="darkGreen z-depth-5 row">

        <div id="chart-container">
          <canvas id="activity-chart"></canvas>
        </div>

      </div>
    </div>

    <!-- right hand side -->
    <div class="col s7 offset-s1">

      <div class="darkGreen z-depth-5 row">
        <p> What you're currently watching! </p>
        <div class="owl-carousel owl-theme">

          {{#each watching}}
          {{> show/show-block}}
          {{/each}}

        </div>
      </div>


      <div class="darkGreen z-depth-5 row">
        <p> What you want to watch! </p>
        <div class="owl-carousel owl-theme">
          {{#each want_to_watch}}
          {{> show/show-block}}
          {{/each}}
        </div>
      </div>


      <div class="darkGreen z-depth-5 row">
        <p> What you have finished! </p>
        <div class="owl-carousel owl-theme">
          {{#each completed}}
          {{> show/show-block}}
          {{/each}}
        </div>
      </div>




    </div>


  </div>


</div>