<div id="login-container">
    <h1>Sign Up</h1>
    <div>
        <div class="row">
            <form class="col s12" id="signUpForm">
                <div class="row">
                    <div class="input-field col s12">
                        <input  id="signup-username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="signup-email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="signup-pwd" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <button type="submit" class="waves-effect waves-light btn" id="signup-btn">Sign Up</button>
            </form>
        </div>
    </div>
</div>