body {
  background-color: #ffdc7c;
}

p {
  font-family: 'Alatsi', sans-serif;
  padding: 1rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'Calistoga', cursive;
  padding: 2rem;
}

.darkGreen {
  background-color: #2b4d59;
  color: #ffaa67;
  text-align: center;
  float: none !important;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}

.item {
  width:200px; 
  height:250px; 
  background-color:#da674a;
}

#chart-container {
  position: relative; 
  height:100%; 
  width:100%;
}

#streamer-logo {
  position: relative;
  width: 200px;
}

.carouselImage {
  height:250px;
  width:200px;
}

.btn {
  background-color: #39998e;
  color: #ffdc7c;
  font-family: 'Alatsi', sans-serif;
  margin: 15px;
  line-height: 170%;
}

.btn-floating.btn-large {
  width: 10rem;
  height: 10rem;
}

/* button:focus {
  background-color: #da674a;
} */


#page-container1 {
  position: relative;
  min-height: 100vh;
}

#content-wrap1 {
  padding-bottom: 5rem;
}

#footer1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  text-align: center;
  background: #2b4d59;
  color: #ffdc7c;
}

#tmdb {
  width: 150px;
  margin-top: 10px;
}